.Service2{
    background-image: url("../../../assets/HomePageImgs/ServicesBackground.jpg");
    background-size: cover;
    width: 100%;
    height: fit-content;
    background-position-y:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1rem 0;
}
.Service2Text{
    display: flex;
    flex-direction: column;
    width:80vw;
    height: fit-content;
    color: white;
    background-color: gray;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 1rem;
}
.Service2Text h3{
    font-size: 2rem;
    color: white;
}
.Service2Text p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    display: none;
}
.btnMasInfoCel{
    height: 3rem;
    width: 10rem;
    padding:0 1rem ;
    border: none;
    border-radius: 25px;
    background-color: #FF9800;
    color: white ;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 0;
}
.btnMasInfoCel:hover{
    scale: 1.02;
}
/* Button Big screens */
.Service2Text button{
    height: 3rem;
    width: 10rem;
    padding:0 1rem ;
    border: none;
    border-radius: 25px;
    background-color: #FF9800;
    color: white ;
    font-size: 1.1rem;
    font-weight: 600;
    display: none;
}
.Service2Text button:hover{
    scale: 1.02;
}
.ServicesPresentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80vw;
    color: white;
}
.ServiceCard{
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    color: black;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    transition: color 0.6s ease-out 100ms;
    transition: background-color 0.5s ease-out 100ms;
    cursor: pointer;
}
.ServiceCard:hover{
    background-color: #FF9800;
    color:white;  
}
.ServiceCard:hover h4{
    color:white;
}
.ServiceCard img{
    width: 30%;
    margin:1rem 0;
}
.ServiceCard h4{
    color:#FF9800;
    margin-bottom: 1.1rem;
}
.ServiceCard span{
    font-size: 0.8rem;
}


