.Mission_View {
    color:white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: 100vw;
    border: red solid 1px;
    padding: 1rem;
}
.Mission_View h3{
    font-size: 2rem;
    text-underline-offset: 0.5rem;
    margin: 2rem 0;
}
.paragraphsMission_View{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    height: fit-content;
    width: 95%;
    height: fit-content;
    margin-bottom: 2rem;
}
.paragraphsMission_View p{
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    border-left: 3px #FFA500;
    border-style: solid;
    border-bottom: 0px white;
    border-right: 0px white;
    border-top: 0px white;
}
.missionView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.paragraphsMission_View span{
    color:#FFA500;
    font-weight: 500;
}
.Mission_View img{
    width: 70%;
    margin: 2rem 0;
}
@media screen and (min-width: 720px){
    .Mission_View h3{
        font-size: 3rem;
    }
    .missionView{
        width: 50%;
    }
    .paragraphsMission_View p{
        width: 70%;
        font-size: 1.5rem;
    }
    .missionView{
        align-items: center;
    }
}