.Mas_Servicios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.backgroundMasServicios{
    width: 100vw;
    height: 100vh;
    position: relative;
    border-top:0.2rem solid orange;
    border-bottom: 0.2rem solid orange;
}
.backgroundMasServicios img{
    height: 100%;
    width: 100%;
    filter: brightness(40%);
    z-index: 5;
}
.contentMasServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width:100%;
}
.contentMasServicios h2{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.contentMasServicios button{
    margin-top: 1rem;
    background-color: orange;
    color:white;
    border: none;
    font-size:0.9rem;
    font-weight: 700;
    width:7.5rem;
    height:3.5rem;
    border-radius: 25px;
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 2s;
}
.bttnServices{
    text-decoration: none;
    color: white;
}
.serviciosCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.servicioCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: 9rem;
    height: 8rem;
}
.servicioCard h3{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: orange;
}
.servicioCard p{
    font-size: 0.6rem;
    font-weight: 400;
}
.btnMasServicios:hover{
    scale: 1.03;
    background-color: rgb(221, 143, 0);
}
/* IPhone SE 375 667 SCREEN SIZE DONE */

@media screen and (min-width:720px){
    .contentMasServicios h2{
        color: white;
        font-size: 2.5rem;
    }
    .contentMasServicios button{
        margin-top: 1.5rem;
        font-size:1rem;
        width:8.4rem;
        height:3.5rem;
    }
    .servicioCard{
        width: 12rem;
        height: 9rem;
    }
    .servicioCard h3{
        font-size: 1rem;
    }
    .servicioCard p{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .contentMasServicios{
        max-width:90%;
    }
    .servicioCard{
        margin: 0.7rem;
    }
}