.Services1{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Services1_Title{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;
    background-color: black;
    padding: 0 1rem;
}
.Services1_Title img{
    position: absolute;
    width: 100%;
    transform:translateY(20);
    opacity:40%;
    z-index: 10;
    pointer-events: none;
}
.Services1_Title_Content{
    z-index: 15;
    display: flex;
    flex-direction:column;
}
.Services1_Title_Content h3{
    font-size: 2rem;
    height: 100%;
    color: white;
    z-index: 100;
}
.Services1_Title_Content span{
    color: #FF9800;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 500;
}
.downloadBtn{
    margin-top: 1rem;
    height: 4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FF9800;
    border: none;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}
.downloadBtn:hover{
    font-weight: 600;
    scale: 1.02;
}
.downloadBtn img{
    height: 2rem;
    margin-right: 1rem;
}
.SecurityServices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin-bottom: 1.5rem;
}
.CardService{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    align-items: center;
    text-align: center;
    width:30rem;
    height: 20rem;
    margin: 0rem 2rem ;
    margin-top: 3rem;
    border-bottom: 3px #FF9800;
    border-style: solid;
    border-top: 0px white;
    border-right: 0px white;
    border-left: 0px white;
}
.CardService img{
    width: 100%;
    height:100%;
    border-radius: 25px;
    pointer-events: none;
    object-fit: cover;
    margin-bottom:1rem;
}
.CardService h4{
    font-size: 1rem;
    width: 100%;
    color: #4C4C4C;    
    text-underline-offset: 1rem;
}
@media screen and (min-width:720px){
    .Services1_Title h3{
        font-size: 2.5rem;
        margin-top: 1.4rem;
    }
    .CardService img{
        width: 100%;
        height: 15rem;
    }
    .CardService h4{
        font-size: 1.3rem;
    }

}