.Services{
    height: 100vh;
    width:100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:black;
    color: white;
}
.textServices{
    display: flex;
    flex-direction: column;
}
.textServices h4{
    color: #FF9800;
    font-size: 1rem;
}
.textServices h2{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.textServices p{
    font-weight: 400;
    font-size:0.9rem;
    margin-bottom: 20px;
}
.textServices span{
    font-weight: 1000;
    color: #FF9800;
    text-decoration: underline;
}
.imgServices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.areaServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius:50% ;
}
.iconsServices{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #bae1ff;
    border-radius: 50%;
}
.areaServices img{
    width:3rem;
    height:3rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.imgServices .areaServices span{
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0.3rem;
}

/* Sobre la ultima parte de servicios */
.arrow {
    rotate:-90deg;
    position: relative;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
    margin-bottom:1rem ;
}
.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-bottom: 5px solid #FF9800;
    border-right: 5px solid #FF9800;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* IPhone SE 375 667 SCREEN SIZE DONE */

@media screen and (min-width:720px){
    .textServices h4{
        font-size: 1.5rem;
    }
    .textServices h2{
        font-size: 3.5rem;
    }
    .textServices p{
        font-size:1.1rem;
    }
    .areaServices{
        width:10rem;
        height:10rem;
    }
    .areaServices .iconsServices{
        width: 6rem;
        height: 6rem;
    }
    .areaServices img{
        width:4rem;
        height:4rem;
    }
    .imgServices{
        margin-bottom: 2rem;
    }
    .imgServices .areaServices span{
        font-size: 0.9rem;
    }
    .arrow span{
        width: 1.5rem;
        height: 1.5rem;
        border-bottom: 8px solid #FF9800;
        border-right: 8px solid #FF9800;
    }
}