.AboutUs{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    height:fit-content;
    width: 100%;
    align-items: center;
    justify-content:center;
    gap: 4rem;
}
.textAboutUs button{
    height: 2.5rem;
    width:5rem;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    background-color:var(--orange500);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.CardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.CardsContainer h4{
    font-size: 20px;
    color:var(--orange950)
}
.cardsGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardEspecializacion {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.card-bg {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  width: 100%;
}
.card-bg h3{
    z-index: 90;
    color: white;
    width: 180px;
    text-align: left;
}

.card-number {
  position: relative;
  z-index: 2;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  color: transparent;
  /* Borde del texto */
  -webkit-text-stroke: 2px white;
  text-stroke: 2px #38bdf8;

  opacity: 0.9;
}


/* Cambios sobre la segunda parte del texto */
.textOurMission {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
.textOurMission .MissionContainer{
    position: relative;
    width:80%;
}
.MissionContainer img {
  width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.cardOurMission {
  position: absolute;
  left: 20%; /* se monta sobre la imagen */
  top: 50%;
  transform: translateY(-50%);

  background: var(--orange950);
  color: #fff;

  padding: 24px;
  width: 320px;
  /* border-radius: 16px; */

  z-index: 2;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}
.textOurMission h3{
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1rem;
}
.textOurMission p{
    font-size: 0.8rem;
    font-weight: 400;
}
.textOurMission button:hover{
     background-color:var(--orange600);
     scale: 1.01;
}

/* IPhone SE 375 667 SCREEN SIZE DONE */
@media screen and (min-width:720px){

    .textAboutUs{
        text-align: center;
    }
    .textOurInfo{
        width: 40vw;
    }
 
    .textOurInfo h4{
        font-size: 1.5rem;
    }
    .textOurInfo h2{
        font-size: 2.5rem;
    }
    .textOurInfo p{
        font-size: 1.1rem;
        font-weight: 400;
    }
}
@media screen and (min-width:1100px){
    .AboutUs{
        padding: 12rem 0rem;
    }
    .textAboutUs{
        text-align: left;
    }
    .AboutUs img{
        width: 35rem;
        height:35rem;
        object-fit: cover;
    }
    .textOurInfo h4{
        font-size: 2rem;
    }
    .textOurInfo h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .textOurInfo p{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .textAboutUs .textOurInfo span{
        font-size: 1.5rem;
    }
    .textOurMission h3{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .textOurMission p{
        font-size: 1.5rem;
    }
    .textAboutUs button{
        margin-top: 2rem;
        width: 15rem;
        height: 4rem;
        font-size: 2rem;
        padding: 0 1rem;
    }
}
