.AboutUs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 3rem 0;
    height:fit-content;
    align-items: center;
    justify-content:center;
    background-color: #D9D9D9;
}
.AboutUs img{
    margin-top:1rem;
    width: 18rem;
    height:15rem;
    object-fit: cover;
    border-radius: 2rem;
    border:1px solid var(--orange600);
}
.textAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    text-align: center;
}
.textAboutUs button{
    height: 2.5rem;
    width:5rem;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    background-color:var(--orange500);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.cardEspecializacion {
  width: 150px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.card-bg {
  position: relative;
  flex: 1;
  /* background-image: url('../../../assets/HomePageImgs/Especializacion/Gestion_Seguridad.jpg'); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.card-number {
  position: relative;
  z-index: 2;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  color: transparent;

  /* Borde del texto */
  -webkit-text-stroke: 2px #38bdf8; /* celeste */
  text-stroke: 2px #38bdf8;

  opacity: 0.9;
}
/* Cambios sobre la segunda parte del texto */
.textOurMission{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 75vw;
}
.textOurMission h3{
    margin-bottom: 0.5rem;
    color: #262626;
    font-size: 1rem;
}
.textOurMission p{
    font-size: 0.8rem;
    font-weight: 400;
}
.textAboutUs button:hover{
     background-color:var(--orange600);
     scale: 1.01;
}

/* IPhone SE 375 667 SCREEN SIZE DONE */
@media screen and (min-width:720px){
    .AboutUs{
        flex-wrap: nowrap;
        justify-content:space-evenly;
        padding: 6rem 0;
    }
    .textAboutUs{
        text-align: center;
    }
    .textOurInfo{
        width: 40vw;
    }
    .textOurMission{
        width: 40vw;
    }
    .textOurInfo h4{
        font-size: 1.5rem;
    }
    .textOurInfo h2{
        font-size: 2.5rem;
    }
    .textOurInfo p{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .textOurMission h3{
        font-size: 1.5rem;
    }
    .textOurMission {
        font-size: 1.1rem;
    }
    .textAboutUs .textOurInfo span{
        font-size: 1.1rem;
    }
    .textAboutUs button{
        width: fit-content;
        height: fit-content;
        font-size: 1rem;
        padding: 1rem 1rem;
    }
    .AboutUs img{
        width: 18rem;
        height:30rem;
        object-fit: cover;
    }
}
@media screen and (min-width:1100px){
    .AboutUs{
        padding: 12rem 0rem;
    }
    .textAboutUs{
        text-align: left;
    }
    .AboutUs img{
        width: 35rem;
        height:35rem;
        object-fit: cover;
    }
    .textOurInfo h4{
        font-size: 2rem;
    }
    .textOurInfo h2{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .textOurInfo p{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .textAboutUs .textOurInfo span{
        font-size: 1.5rem;
    }
    .textOurMission h3{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .textOurMission p{
        font-size: 1.5rem;
    }
    .textAboutUs button{
        margin-top: 2rem;
        width: 15rem;
        height: 4rem;
        font-size: 2rem;
        padding: 0 1rem;
    }
}
