.AboutUs{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    height:fit-content;
    width: 100%;
    align-items: center;
    justify-content:center;
    gap: 4rem;
}
.textAboutUs button{
    height: 2.5rem;
    width:5rem;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    background-color:var(--orange500);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.CardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.CardsContainer h4{
    font-size: 20px;
    color:var(--orange950)
}
.cardsGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardEspecializacion {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.card-bg {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  width: 100%;
}
.card-bg h3{
    z-index: 90;
    color: white;
    width: 180px;
    text-align: left;
}

.card-number {
  position: relative;
  z-index: 2;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  color: transparent;

  -webkit-text-stroke: 2px white;
  text-stroke: 2px #38bdf8;
  opacity: 0.9;
}


/* Cambios sobre la segunda parte del texto */
.textOurMission {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.textOurMission .MissionContainer{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MissionContainer img {
  width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  transform: translateX(50px);
}
.cardOurMission {
    transform: translateX(-50px);
    background: var(--orange900);
    color: #fff;
    padding: 24px;
    height: 60%;
    width: 300px;
    z-index: 2;
    box-shadow: 0 20px 40px rgba(7, 6, 6, 0.35);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cardOurMission h3{
    color: white;
    font-size: 1.2rem;
}
.cardOurMission p{
    font-size: 0.8rem;
    font-weight: 400;
}
.cardOurMission button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    border-bottom: var(--orange600) 2px solid; /* línea normal en celular */
}

@media screen and (min-width:720px){
    .cardOurMission {
        justify-content: center;
        height: 320px;
        width: 350px;
    }
    .cardOurMission h3{
        font-size: 2rem;
        justify-self: flex-start;
    }
    .cardOurMission p{
        font-size: 1rem;
        font-weight: 400;
    }
    .MissionContainer img {
        width: 300px;
        height: 500px;
        object-fit: cover;
        border-radius: 12px;
    }
    .cardOurMission button{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:1100px){
    .textOurMission .MissionContainer{
        width:100%;
    }
    .MissionContainer img{
        width: 500px;
        height:650px;
    }
    .cardOurMission {
        padding-left: 2rem;
        transform: translateX(-100px);
        justify-content: center;
        height: 450px;
        width: 500px;
    }
    .textOurMission h3{
        width: 80%;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    .textOurMission p{
        font-size: 1.3rem;
        width: 80%;
    }
    .cardOurMission button{
        margin-top: 2rem;
        height: 4rem;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}
