.Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem;
}
.DatosForm{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 5rem 0;
}
.DatosContacto{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 3rem;
}
.DatosContacto h3{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.DatosContacto p{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.DatosContacto span{
    color: var(--orange500);
    font-weight: 600;
}
.logosRedes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logosRedes img{
    width: 30px;
    cursor: pointer;
}
.FormContacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.FormContacto h2{
    font-size: 1.5rem;
    color: #4C4C4C;
    font-weight: 900;
}
.Forma{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.Forma .correo{
    font-size: 0.7rem;
    height:1.5rem;
    width: 20rem;
}
.Forma h5{
    margin: 10px 0;
    font-size: 0.7rem;
    font-weight: 800;
    width: 19rem;
}
.Forma input{
    border: none;
    background-color: #E9E8E8;
    border-radius: 15px;
    height: 1.5rem;
    padding-left: 0.5rem;
    box-shadow: 1px 2px 5px 0px rgba(163,155,155,1);
    margin-bottom: 15px;
}
.Forma textarea{
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 0.7rem;
    resize: none;
    border: none;
    background-color: #E9E8E8;
    border-radius: 15px;
    padding-left: 10px;
    box-shadow: 1px 2px 5px 0px rgba(163,155,155,1);
    width: 20rem;
    
}

.DatosPersonalesContacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 2rem;
}
.DatosPersonalesContacto .DatoPersonal{
    width: 50%;
}
.DatosPersonalesContacto h5{
    margin-left: 0.5rem;
    width: 8rem;
}
.DatosPersonalesContacto .datos{
    width: 9rem;
    font-size: 0.7rem;
}
.Forma .submitBtn{
    padding: 0;
    border-radius: 1rem;
    background-color: var(--orange500);
    color: white;
    font-size:1rem;
    font-weight: 600;
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
}
.submitBtn:hover{
    background-color: var(--orange600);
}
.MapaDesktop{
    background-color: black;
    width: 20vw;
    height: 50vh;
    display: none;
}
.MapaDesktop iframe{
    top:0;
    left: 0;
    border: none;
    height: 100%;
    width: 100%;
}
.Mapa{
    background-color: black;
    width: 100%;
    height: 50vh;
}
.Mapa iframe{
    top:0;
    left: 0;
    border: none;
    height: 100%;
    width: 100%;
}
@media screen and (min-width:720px){
    .DatosForm{
        flex-direction: row;
        width: 80%;
    }
    .DatosContacto{
        text-align: left;
        width: 20%;
        margin-right: 4rem;
    }
    .DatosContacto h3{
        font-size: 1.5rem;
    }
    .DatosContacto p{
        font-size: 0.9rem;
    }
    .DatosContacto span{
        font-size: 1rem;
    }
    .FormContacto h2{
        font-size: 2rem;
    }
    .Forma .correo{
        margin-left: 0;
        font-size: 0.8rem;
        width: 100%;
        height: 2rem;
    }
    .Forma h5{
        margin-top: 1.2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .DatoPersonal .datos{
        width: 90%;
        height: 2rem;
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
        margin-left: 0.1rem;
    }
    .Forma .submitBtn{
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 45%;
    }
    .Forma textarea{
        font-size: 1rem;
        height:10vh;
        height: fit-content;
        width: 100% ;
    }
}
@media screen and (min-width:1000px){
    .DatosForm{
        padding:0;
    }
    .FormContacto{
        justify-content: space-between;
    }
    .DatosContacto{
        padding-left: 2rem;
        width: 15vw;
    }
    .Mapa{
        display: none;
    }
    .logosRedes{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .logosRedes img{
        margin-left: 1rem;
    }
    .MapaDesktop{
        width: 60%;
        display: block;
        height: 40rem;
        justify-self: center;
    }
}
