.Footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100vw;
    height: 30vh;
    color:white;
    background-color: black;
}
.Footer .footerImgs{
    display: flex;
    flex-direction: column;
}
.Footer .footerImgs img{
    cursor: pointer;
    width: 1rem;
}
.footerImgs{
    display: flex;
    flex-direction: column;
}
.LogosFooter{
    display: flex;
    flex-direction: row;
}
.footerImgs .LogosFooter img{
    width: 1.5rem;
    cursor: pointer;
    margin:1rem 0.3rem ;
}
.Footer ul{
    list-style: none;
}   
.Footer li{
    margin: 0.7rem 0;
    cursor: pointer;
    font-size: 0.7rem;
}
.Footer li:hover{
    color: gray;
}
