.Footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 30vh;
    color:white;
    background-color: black;
}
.Footer .footerImgs{
    display: flex;
    flex-direction: column;
}
.Footer .footerImgs img{
    cursor: pointer;
    width: 40px;
}
.LogosFooter{
    display: flex;
    flex-direction: row;
}
.footerImgs .LogosFooter img{
    width: 40px;
    margin: 10px 10px;
    cursor: pointer;
}
.Footer ul{
    list-style: none;
}   
.Footer li{
    margin: 5px 0;
    cursor: pointer;
}
.Footer li:hover{
    color: gray;
}
