.Main_Services{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 90vh;
}
.Title_Services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width:100vw;
    background-color: black;
}
.Title_Services h2{
    color: white;
    font-size: 3rem;
    text-underline-offset: 2.5rem;
}
.Icons_Services{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:60%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.Icons_Services img{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    transform: translateY(5px);
}
.Icons_Services .Link_Service{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-10px);
    height: 4.5em;
    width: 4.5rem;
    cursor: pointer;
}
.Icons_Services .Link_Service:hover{
    background-color: lightblue;
}
.Icons_Services .Link_Service:active{
    background-color: lightskyblue;
}
.Icon_Service{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.Icon_Service span{
    font-size: 1rem;
    font-weight: 600;
}
.CallUs_Services{
    position: absolute;
    background-color: #FF9800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 10rem;
    height: 8vh;
    left: 0%;
    top: 38%;
    cursor: pointer;
}
.CallUs_Services span{
    font-size:0.7rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}
.CallUs_Services h3{
    font-size: 1.2rem;
    text-decoration: underline;
}
.UpMainSticky{
    display: flex;
    justify-content: end;
    position: sticky;
    margin-right:2rem;
    align-items: center;
    cursor: pointer;
    width: 100vw;
    transform: translateY(-90px);
}
.UpMain{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #FF9800;
    border-radius: 50%;
}
.UpMain svg{
    rotate: -90deg;
}
@media screen and (min-width:720px){
    .CallUs_Services{
        width: 13rem;
        height: 10vh;
        top: 41%;
        text-align: left;
        padding-left: 2rem;
    }
    .CallUs_Services span{
        font-size: 1rem;
    }
    .CallUs_Services h3{
        font-size: 1.7rem;
    }
    .Icons_Services{
        padding: 1.5rem 4rem;
    }
    .Icons_Services .Link_Service{
        height: 5rem;
        width: 5rem;
    }
    .Icon_Service{
        width: 20%;
        margin: 0rem 2rem;
    }
    .Icons_Services img{
        width: 4rem;
        height: 4rem;
    }
    .Title_Services h2{
        font-size: 3.5rem;
        text-decoration: underline solid #FF9800;
        text-underline-offset: 2rem;
    }
}