.mainPage{
    height: 110svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 2rem;
    z-index: 50;
}
.mainPage:before{
    content:" ";
    opacity: 0.85;
    width: 100%;
    height: 110svh;
    display: block;
    position: absolute;
    background-image: url("../../../assets/HomePageImgs/HeroBackground.jpg");
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
    filter: brightness(10%);
    z-index: 1;
    background-color: black;
    background-attachment: fixed;
}
.mainPage .information{
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 100;
    width:75%;
    gap:2rem;
}
.mainPage .information img{
    width: 250px;
    height: 40px;
    align-self:self-start;
}
.mainPage .wrapper{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--orange50);
    z-index: 20;
    overflow-y: hidden;
    font-weight: 600;
    height: fit-content;
}
.mainPage p{
    display: none;
    z-index: 20;
    font-size: 1rem;
    color: var(--orange50);
}
.words{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 35px;
    gap: 5px;
    overflow-y: hidden;
}
.words span{
    font-weight: 800;
    color: var(--orange500);
    text-decoration: underline;
    animation: spin_words 6s infinite;
    text-transform: uppercase;
    font-size: 2rem;
}
@keyframes spin_words {
    10%{
        transform: translateY(-117%);
    }
    25%{
         transform: translateY(-105%);
    }
    35%{
        transform: translateY(-237%);
    }
    50%{
        transform: translateY(-225%);
    }
    60%{
        transform: translateY(-355%);
    }
    75%{
        transform: translateY(-340%);
    }
    85%{
        transform: translateY(-465%);
    }
    100%{
        transform: translateY(-455%);
    }
}

.buttonsMainPage{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1.5rem;
    z-index: 20;
    width: 100%;
}
.buttonsMainPage button{
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 25px;
}
.buttonServicesMP button{
    background-color: var(--orange500);
    color:var(--orange950);
}
.buttonsMainPage button:hover{
    background-color: var(--orange600);
}

.buttonCTA button{
    background-color: transparent;
    border-radius: 25px;
    border: 2px var(--orange500) solid;
    color:var(--orange50);
}
.buttonCTA button:hover{
    background-color: var(--orange100);
    color: var(--orange600);
}
.RedesMP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    z-index: 20;
}
.RedesMP img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
    width: 2rem;
}
.RedesMP img:hover{
    filter: invert(52%) sepia(93%) saturate(1201%) hue-rotate(2deg) brightness(107%) contrast(104%);
}
@media screen and (min-width:720px){
    .mainPage{
        gap: 1.5rem;
    }
    .mainPage h1{
        font-size: 5rem;
    }
    .wrapper h2, span{
        font-size:3rem;
    }
    .words{
        height: 2.5rem;
    }
    .mainPage p{
        display: inline;
        font-size: 1.5rem;
        width: 70%;
    }
    .buttonsMainPage button{
        height: 3.5rem;
        width: 10rem;
        font-size: 1.2rem;
    } 
    .RedesMP img{
        width: 2.5rem;
    }
}
/* Here for small trouble in small heights we put this small css */
@media screen and (min-width:1000px){
    .mainPage{
        gap: 2rem;
    }
    .mainPage h1{
        font-size: 5rem;
    }
    .words{
        text-align: left;
        padding-top: 0.5rem;
        height: 4rem;
    }
    .mainPage .wrapper {
        gap: 1rem;
    }
}