.mainpage{
    margin: 0px;
    padding: 0;
    position:relative;
    width: 100svw;
    height: 92vh;
}
/* Background Img */
.backgroundContainer{
    width: 100%;
    height: 92svh;
    position: relative;
}
.backgroundContainer img{
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 100;
    filter: brightness(37%)
}
/* Texto y boton del cover */
.textMP{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: auto;
    z-index: 50px;
    top: 30%;
    left:10%;
}
.textMP h1{
    color: white;
    margin-bottom: 2rem; 
    font-size: 3rem;  /*32px*/
    font-weight: 900;
}
.textMP h2{
    color:white;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.textMP button{
    height: 3rem;
    width: 9rem;
    background-color: orange;
    border-radius: 25px;
    border: none;
    color:white;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
}
button:hover{
    background-color: rgb(221, 143, 0);
    scale:1.02;
}

/* Redes sociales */
.redesMP{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:35%;
    right: 5%;
    color: white;
}
.redesMP img{
    margin: 0.5rem 0;
    width: 30px;
    cursor: pointer;
}

/* IPhone SE 375 667 SCREEN SIZE DONE */

@media screen and (min-width:720px){
    .textMP{
        top: 30%;
    }
    .textMP h1{
        font-size: 4.5rem;
    }
    .textMP h2{
        font-size: 1.4rem;
    }
    .textMP button{
        width: 10rem;
    }

}