.mainPage{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    text-align: center;
    gap: 1rem;
}
.mainPage:before{
    content:" ";
    opacity: 0.85;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url("../../../assets/HomePageImgs/HeroBackground.webp");
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
    filter: brightness(10%);
    z-index: 1;
}
.mainPage h1{
    color:white;
    font-size: 3.5rem;/*32px*/
    font-weight: 800;
    z-index: 10;
}
.mainPage .wrapper{
    box-sizing: content-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    color: var(--orange50);
    padding: 1rem;
    height: fit-content;
    z-index: 20;
    overflow-y: hidden;
    font-weight: 600;
}
.words{
    display: flex;
    flex-direction: column;
    height: 30px;
    gap: 5px;
    overflow-y: hidden;
}
.words span{
    color: var(--orange500);
    text-decoration: underline;
    animation: spin_words 6s infinite;
    text-transform: uppercase;
}
@keyframes spin_words {
    10%{
        transform: translateY(-117%);
    }
    25%{
         transform: translateY(-105%);
    }
    35%{
        transform: translateY(-237%);
    }
    50%{
        transform: translateY(-225%);
    }
    60%{
        transform: translateY(-355%);
    }
    75%{
        transform: translateY(-340%);
    }
    85%{
        transform: translateY(-465%);
    }
    100%{
        transform: translateY(-455%);
    }
}

.buttonMain{
    z-index: 10;
}
.buttonMain button{
    height: 3rem;
    width: 9rem;
    background-color: var(--orange500);
    border-radius: 25px;
    border: none;
    color:var(--orange950);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
}
.mainPage button:hover{
    background-color: var(--orange600);
}

@media screen and (min-width:720px){
    .textMP{
        top: 30%;
    }
    .textMP h1{
        font-size: 4.5rem;
    }
    .textMP h2{
        font-size: 1.4rem;
    }
    .textMP button{
        width: 10rem;
    }
}
/* Here for small trouble in small heights we put this small css */
@media screen and (max-height:415px){
    .textMP h1{
        font-size: 3rem;
    }
    .textMP h2{
        font-size: 1rem;
    }
}
@media screen and (min-width:1200px){
    .textMP{
        top: 33%;
        left:10%;
    }
    .textMP h1{
        font-size: 5.5rem;
    }
    .textMP h2{
        font-size: 1.6rem;
    }
    .textMP button{
        width: fit-content;
        height: fit-content;
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    .redesMP img{
        margin: 0.8rem 0;
        width: 2.5rem;
        cursor: pointer;
    }
}