.TwoServices{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}
.Services2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    padding: 1rem;
    width: 100%;
    height: 100%;
}
.Services2::before{
    content:"";
    opacity: 0.85;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url('../../../assets/ServicesPage/BackgroundSaludOcupacional.jpg');
    background-size: cover;
    background-position-y:center;
    filter: brightness(20%);
    z-index: 1;
}
.Services2_Riesgos{
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    height: 100%;
}
.Services2_Riesgos::before{
    content:"";
    opacity: 0.85;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url('../../../assets/ServicesPage/gecosa-prevencion-riesgos.jpg');
    background-size: cover;
    background-position-y:center;
    filter: brightness(10%);
    z-index: 1;
}
.Services2_Title{
    width: 80%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    color: var(--orange50);
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}
.Services2_Title h3{
    font-size: 1.5rem;
}
.Services2_Title span{
    font-size: 1rem;
}
.downloadBtn{
    margin-bottom: 1rem;
    width:50%;
    padding: 0.5rem 1rem;
    border-radius:1rem;
    border: none;
    background-color: var(--orange500);
    color: var(--orange950);
    font-weight: 700;
    letter-spacing: 1px;
}
.downloadBtn a{
    text-decoration: none;
    color: var(--orange950);
    display: flex;
    justify-content: center;
    align-items: center;
}
.downloadBtn img{
    margin-right:1rem;
    width:30px;
}
.downloadBtn:hover{
    background-color: var(--orange600);
}
.downloadBtn:active{
    scale: 0.99;
}
@media screen and (min-width:800px){
    .Services2{
        border-right: 3px #FFA500 inset;
        border-style: solid;
        border-left: 0px white;
        border-bottom: 3px #FFA500 inset;
        border-top: 0px white;
    }
    .Services2_Riesgos{
        border-right: 3px #FFA500 inset;
        border-style: solid;
        border-left: 0px white;
        border-bottom: 3px #FFA500 inset;
        border-top: 0px white;
    }
    .TwoServices{
        flex-direction: row;
    }
    .Services2_Title h3{
        font-size: 1.5rem;
    }
    .Services2_Title span{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:720px){
    .ListServices{
        width: 80%;
        flex-direction: column;
    }
    .downloadBtn{
        margin-top: 2rem;
    }
    .Services2_Title h3{
        font-size: 2rem;
    }
    .Services2_Title span{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:1000px) {  
    .downloadBtn{
        width:40%;
    }
    .downloadBtn img{
        margin-right:1rem;
        width:40px;
    }
}