.MasInfo{
    width: 100vw;
    height: 50vh;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.MasInfoTexto{
    width: 40%;
}
.MasInfoTexto h3{
    font-size: 3rem;
    margin-bottom:2rem;
}
.MasInfoTexto p{
    font-size: 1.2rem;
}
.MasInfoButton{
    width: 10%;
}
.MasInfoButton button{
    font-size: 1.3rem;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 4rem;
    background-color: white;
}
.MasInfoButton button:hover{
    scale: 1.02;
}
.MasInfoButton button:active{
    background-color:rgb(204, 202, 202);
}

