.MasInfo{
    width: 100vw;
    height: 50vh;
    background-color: #FF9800;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.MasInfoTexto{
    width: 60%;
}
.MasInfoTexto h3{
    font-size: 1.5rem;
    margin-bottom:2rem;
}
.MasInfoTexto p{
    font-size: 0.8rem;
}
.MasInfoButton{
    width: 20%;
}
.MasInfoButton button{
    font-size: 0.8rem;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 2.8rem;
    background-color: white;
}
.MasInfoButton button:hover{
    scale: 1.02;
}
.MasInfoButton button:active{
    background-color:rgb(204, 202, 202);
}

@media screen and (min-width:720px){
    .MasInfoTexto h3{
        font-size: 2.3rem;
    }
    .MasInfoTexto p{
        font-size: 1rem;
    }
    .MasInfoButton button{
        font-size: 1rem;
        border: none;
        border-radius: 25px;
        width: 100%;
        height: 2.8rem;
        background-color: white;
    }
}