.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    z-index: 0;
    height: 10vh;
    padding: 0.5rem 2rem;
}
.desktopMenu{
    max-width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content:end;
    color: white;
}
.desktopMenu li{
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 20px;
    cursor: pointer;
    font-weight: 400;
}
.navbar li:hover{
    color:gray;
} 

.logo{
    height: 4rem;
    cursor: pointer;
}
.logoCell{
    height: 3rem;
    cursor: pointer;
    display: none;
}
.login img{
    width: 2rem;
    cursor: pointer;
}
.link, .link2{
    text-decoration: none;
    color: white;
}
.mobMenu{
    display: none;
}
.navMenu{
    position: absolute;
    z-index:2;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: fit-content;
    width: 95%;
    background: rgb(40,40,40);
    list-style: none;
    color: #fff;
    background-color: black;
    padding: 0.5rem 0rem;
    top: 10vh;
}
.navMenu li{
    cursor: pointer;
    margin:0.2rem 0;
}


@media screen and (max-width:720px){
    .navbar {
        padding: 1rem;
    }
    .mobMenu{
        display: flex;
        color: white;
        cursor: pointer;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}
@media screen and (max-width:900px){
    .logo{
        display: none;
    }
    .logoCell{
        display: flex;
    }
}
@media screen and (min-width:1200px){
    .desktopMenu li{
        font-size: 1.4rem;
        margin: 0 1.5rem;
    }
}