/* Layout general */
.navbar-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background: rgba(120, 120, 120, 0.35);
  backdrop-filter: blur(10px);
  padding:  1.5rem 5rem;
  z-index: 10;
  border-radius: 0 0 24px 24px;
}

/* Menu desktop */
.menu {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-link {
  text-decoration: none;
  color: #eee;
  position: relative;
  font-weight: 400;
}

.nav-link li {
  cursor: pointer;
}

.nav-link.active {
  font-weight: 600;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -6px;
  left: 0;
}

/* Logo */
.login-btn {
  width: 5rem;
  height:100%;
  border-radius: 0 0 0 30px;
  background: #E27100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
/* Login */
.login {
    position: absolute;
    top: 0;
  right: 0;
  height: 100%;;
}

.login img {
  width: 2.2rem;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 96px;
  transform: translateX(-50%);
  width: 100%;

  background: rgba(120, 120, 120, 0.4);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  list-style: none;
  padding: 1rem 0.75rem;
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.mobile-menu li {
  width: 100%;
}
.mobile-link {
  display: block;
  width: 100%;
  text-align: center;

  text-decoration: none;
  color: #fff;
  font-size: 1.05rem;
  font-weight: 500;

  padding: 0.85rem 0;
  border-radius: 14px;

  transition:
    background 0.25s ease,
    transform 0.2s ease;
}
.mobile-link:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-1px);
}
/* Active (al tocar) */
.mobile-link:active {
  transform: scale(0.97);
  background: rgba(255, 255, 255, 0.22);
}
/* Responsive */
@media (max-width: 768px) {
  .navbar{
      padding: 1.5rem;
      border-radius: 0 0 24px 0px;
  }
  .navbar-wrapper {
    left: 0;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo img {
    display: block;
    position: absolute;
    left: 1rem;
  }
}
