/* Layout general */
.navbar-wrapper {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background: rgba(120, 120, 120, 0.35);
  backdrop-filter: blur(10px);
  padding:  1.5rem 5rem;
  z-index: 10;
  border-radius: 0 0 24px 24px;
}

/* Menu desktop */
.menu {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.nav-link {
  text-decoration: none;
  color: #eee;
  position: relative;
  font-weight: 400;
}

.nav-link li {
  cursor: pointer;
}

.nav-link.active {
  font-weight: 600;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -6px;
  left: 0;
}

/* Logo */
.login-btn {
  width: 5rem;
  height:100%;
  border-radius: 0 0 0 30px;
  background: #E27100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
/* Login */
.login {
    position: absolute;
    top: 0;
  right: 0;
  height: 100%;;
}

.login img {
  width: 2.2rem;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 9vh;
  width: 90%;
  background: rgba(120, 120, 120, 0.35);
  backdrop-filter: blur(10px);
  list-style: none;
  padding: 1rem 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-link {
  text-decoration: none;
  color: white;
  margin: 0.5rem 0;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar{
      padding: 1.5rem;
      border-radius: 0 0 24px 0px;
  }
  .navbar-wrapper {
    left: 0;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo img {
    display: block;
    position: absolute;
    left: 1rem;
  }
}
