.Service2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Service2:before{
    content:" ";
    opacity: 0.85;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url("../../../assets/HomePageImgs/ServicesBackground.webp");
    background-size: cover;
    background-position-y:center;
    filter: brightness(20%);
    z-index: 1;
}
.Service2Text{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width:80vw;
    height: fit-content;
    color: white;
    /* background-color: gray; */
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 1rem;
    z-index: 100;
}
.Service2Text h3{
    font-size: 2rem;
    color: white;
}
.Service2Text p{
    font-size: 1rem;
}
.btnServicio2{
    z-index: 100;
    text-decoration: none;
}
.btnServicio2 .btnMasInfoCel{
    height: fit-content;
    width: fit-content;
    padding:1rem 1rem ;
    border: none;
    border-radius: 25px;
    background-color: var(--orange500);
    color: var(--orange950) ;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2rem 0;
}
.btnMasInfoCel:hover{
    background-color: var(--orange600);
    scale: 1.01;
}
/* Button Big screens */
.Service2Text button{
    height: 3.5rem;
    width: fit-content;
    padding:0 1rem ;
    border: none;
    border-radius: 25px;
    background-color: var(--orange500);
    color: black ;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    display: none;
}
.Service2Text button:hover{
    scale: 1.01;
}
.ServicesPresentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80vw;
    color: white;
    z-index: 100;
}
.ServiceCard.horizontal {
  width: 100%;
  max-width: 520px;
  min-height: 160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;

  padding: 1.8rem 2rem;
  margin: 1rem;

  background-color: white;
  border-radius: 22px;

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.18);

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    background-color 0.35s ease;
}
.ServiceCardContent {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.ServiceCardContent h4 {
  font-size: 1.2rem;
  color: var(--orange700);
  line-height: 1.3;
}

.ServiceCardContent p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
}

.ServiceLink {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--orange500);
  transition: transform 0.25s ease;
}

.ServiceCard.horizontal:hover .ServiceLink {
  transform: translateX(4px);
}
.ServiceCardIcon {
  flex-shrink: 0;
  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--orange50);
  border-radius: 14px;
}

.ServiceCardIcon img {
  width: 70%;
  height: auto;
}

.ServiceCard.horizontal:hover {
  background-color: var(--orange500);
  box-shadow:
    0 20px 45px rgba(0, 0, 0, 0.28);
}

.ServiceCard.horizontal:hover h4,
.ServiceCard.horizontal:hover p {
  color: var(--orange950);
}

.ServiceCard.horizontal:hover .ServiceLink {
  color: var(--orange950);
}

.ServiceCard.horizontal:hover .ServiceCardIcon {
  background-color: white;
}

@media screen and (min-width:720px){
    .Service2{
        padding: 7rem 0;
    }
    .Service2Text{
        margin-bottom: 2rem;
    }
    .ServicesPresentation{
        width: 90vw;
    }
     .ServiceCard.horizontal {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .ServiceCardIcon {
    align-self: flex-end;
  }
    .btnMasInfoCel{
        margin-top: 2rem;
        font-size: 1.5rem;
        height: 4rem;
        width: 12rem;
    }
}
@media screen and (min-width:1100px){
    .Service2{
        flex-direction: row;
        justify-content: center;
        padding: 12rem 3rem;
    }
    .Service2Text{
        width:35vw;
        height:fit-content;
        min-height: 70vh;
        color: white;
        justify-content: center;
        border-radius: 25px;
        text-align: left;
        padding: 1rem 2rem;
        z-index: 100;
        margin-bottom: 0;
    }
    .ServicesPresentation{
        align-items: start;
    }
    .Service2Text h3{
        align-self: center;
        margin-bottom: 2rem;
    }
    .Service2Text p{
        font-size: 1.5rem;
    }
    .ServiceCard{
        height: 45vh;
        min-height: 35vh;
        padding: 0 2.5rem;
    }
    .ServiceCard h4{
        font-size: 1.6rem;
    }
    .ServiceCard span{
        font-size: 1.1rem;
    }
    .Service2Text button{
        display:block;
        font-size: 1rem;
    }
    .Service2Text button:hover{
        background-color: var(--orange600);
    }
    .Service2Text p{
        display: block;
    }
    .btnMasInfoCel{
        display: none;
    }
}
@media screen and (min-width:1300px){
    .Service2Text{
        justify-content: start;
        padding: 5rem 3rem;
    }
    .Service2Text h3{
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    .Service2Text p{
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }
    .Service2Text button{
        height: fit-content;
        padding: 1rem;
        width: fit-content;
        font-size: 1.4rem;
    }
}


